.preview-slides {
  margin-top: 20%;
  background: #e6e6e6;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.image-slide,
.image-card {
  overflow: visible;
}

.image-card {
  z-index: 11;
  overflow: visible;
}

.backdrop {
  z-index: 10;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}
