<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Image Zoom </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let img of [1, 2, 3]" class="image-card" #card>
    <ion-slides class="image-slide" [options]="sliderZoomOpts" #zoomslides>
      <ion-slide>
        <div
          class="swiper-zoom-container"
          (touchstart)="touchStart(card)"
          (touchend)="touchEnd(zoomslides, card)"
        >
          <img src="assets/img/img{{img}}.png" />
        </div>
      </ion-slide>
    </ion-slides>
    <ion-card-content> Almost like Instagram... </ion-card-content>
  </ion-card>
</ion-content>
